
    <nav>
        <ul>
            <li><a routerLink="/sexos" routerLinkActive="active">Lista de Sexos</a></li>
            <li><a routerLink="/bairros" routerLinkActive="active">Lista de Bairros</a></li>
            <li><a routerLink="/ruas" routerLinkActive="active">Lista de Ruas</a></li>
            <li><a routerLink="/ufs" routerLinkActive="active">Lista de Ufs</a></li>
            <li><a routerLink="/ceps" routerLinkActive="active">Lista de Ceps</a></li>
            <li><a routerLink="/marcas" routerLinkActive="active">Lista de Marcas</a></li>
            <li><a routerLink="/tipos" routerLinkActive="active">Lista de Tipos</a></li>

            <li><a routerLink="/cidades" routerLinkActive="active">Lista de Cidades</a></li>
        <li><a routerLink="/produtos" routerLinkActive="active">Lista de Produtos</a></li>
        <li><a routerLink="/clientes" routerLinkActive="active">Lista de Clientes</a></li>
        <li><a routerLink="/vendas" routerLinkActive="active">Lista de Vendas</a></li>
        <li><a routerLink="/vendas/novo" routerLinkActive="active">Nova Venda</a></li>
        </ul>
    </nav>
